@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
	--primary: #0b2;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: var(--font-fig-tree), Helvetica, sans-serif;
}

* {
	font-family: var(--font-fig-tree), Helvetica, sans-serif;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
